<nav class="bg-transparent fixed top-0 w-full z-50" [class.!bg-dark]="darkNavbar">
    <div class="mx-auto px-2 sm:px-6 lg:px-60">
        <div class="relative flex h-60 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <!-- <button (click)="toggleSideMenu()" type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu" aria-expanded="false">
                    
                </button> -->
            </div>
            <div class="grid grid-cols-3 w-full items-center justify-between" id="side-menu">

                <h1 class="font-yellowtail text-primary text-6xl">AIchemists</h1>
                <div class="hidden sm:ml-6 col-start-2 col-end-3 sm:flex justify-center">
                    <div class="flex space-x-20 items-center">
                        @for (navbarItem of navbarList; track navbarItem.id) {

                        <a [href]="navbarItem.url"
                            class="text-white px-3 py-2 text-3xl font-medium">
                            {{ navbarItem.title }}
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sm:hidden" id="mobile-menu" [class.open]="isSideMenuOpen">
        <div class="space-y-1 px-2 pb-3 pt-2">
            @for (navbarItem of navbarList; track navbarItem.id) {

            <a [href]="navbarItem.url"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-2xl font-medium">
                {{ navbarItem.title }}
            </a>
            }
            <!-- <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
                aria-current="page">Dashboard</a> -->
        </div>
    </div>
</nav>